<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <%= yield :head %>
    <%= stylesheet_link_tag 'oocss-grids', :media => "screen" %>
    <%= stylesheet_link_tag 'app', :media => "screen" %>
    <%= javascript_include_tag 'jquery-1.5.1.min.js', 'jquery.query-2.1.7', 'json2', 'application' %>
  </head>
  <body>
    <div id="page">
      <div id="header"> 
        <% if flash[:error] -%>
          <div id="error-flash">Error: <%= flash[:error] %></div>
        <% end -%>
        <a href="/"><img id="logo" class="center" src="/images/awesome-ivr.gif" /></a>
        <%= link_to "Console", :controller => :console, :action => :index -%>
      </div>
      <div id="body">
        <%= yield %>
      </div>

      <br />

      <div id="footer" class="center">
        <a href="/">Home</a>
        | <a href="http://heroku.com/">Heroku</a> [<a href="http://devcenter.heroku.com/">Dev Center</a>]
        | <a href="http://www.twilio.com/">Twilio</a> [<a href="http://www.twilio.com/docs/index">Documentation</a>]
      </div>
    </div>
  </body>
  <%= yield :js %>
</html>


